<launch>

	<include file="$(find open_base)/launch/parameter.launch"/>
	<node
		name="joint_state_publisher"
		pkg="joint_state_publisher"
		type="joint_state_publisher"
		ns="open_base"
	>

		<param
			name="use_gui"
			type="Boolean"
			value="true"
		/>
		<remap
			from="/joint_states"
			to="/open_base/joint_states"
		/>

	</node>
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="state_publisher"
		ns="open_base"
	>

		<remap
			from="/joint_states"
			to="/open_base/joint_states"
		/>

	</node>
	<node
		name="rviz"
		pkg="rviz"
		type="rviz"
		args="-d $(find open_base)/description.rviz"
		required="true"
		ns="open_base"
	/>
	<!-- -f origin_link -->

</launch>
